@model MVCClient.Models.ViewModel.BillServicesViewModel
@{
    ViewData["Title"] = "BillPayment";
}



<h1>Payment Details </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.BillId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Amt)
            </th>
            
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    @Html.DisplayFor(m => m.BillId)
                </td>
                <td>
                    @Html.DisplayFor(m =>m.Amt)
                </td>
               
               
            </tr>
       
    </tbody>
</table>
